__pycache__
/venv

bazel-*
MODULE.bazel.lock

node_modules
.idea
available_tests.txt
.ipynb_checkpoints
csharp/nuget/nuget2config.json
ruby/.bundle
js/requirements/yarn-error.log
.vscode

/docs/build
/dist
MODULE.bazel.lock
