name: Check Diff

on:
  push: {}
  pull_request: {}

jobs:
  check-rulegen-diff:
    name: Check Rulegen Diff
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.6.1/bazelisk-linux-amd64"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

      - name: Test rulegen diff
        run: |
          set -e
          make rulegen
          make buildifier
          git diff
          git diff-files --quiet
